.button {
  color: #fff;
  padding: 16px 35px;
  text-transform: uppercase;
  border-radius: 500px;
  outline: none;
  border: none;
  width: fit-content;
}

.button--fill {
  background-color: #000;
}

.button--clear {
  background-color: transparent;
  border: 2px solid #fff;
}
